nav {
    background-color: rgb(230, 41, 41);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 1em;
    color: #fff;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 1em;
}

.user-info button {
    padding: 1em 1em;
    background-color: transparent;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;    
}